
@{
    ViewBag.Title = "PerfilMetaCognitivo";
}

<h2>PerfilMetaCognitivo</h2>

<input type="text" name="name" value="" placeholder="Nome" />
<input type="text" name="email" value="" placeholder="Email" />

<input type="button" name="btn" value="Avançar" />