
@{
    ViewBag.Title = "Perguntas";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    jQuery(function ($) {

        $("#btnCriaxr").click(function () {

            var pergunta = $("#pergunta").val();
            var resposta1 = $("#resposta1").val();
            var resposta2 = $("#resposta2").val();
            var resposta3 = $("#resposta3").val();
            var resposta4 = $("#resposta4").val();

            $.ajax({
                dataType: "text",
                type: "POST",
                url: "/Perguntas/CriarPergunta",
                data:
                    {
                        pergunta: pergunta,
                        resposta1: resposta1,
                        resposta2: resposta2,
                        resposta3: resposta3,
                        resposta4: resposta4
                    },
                error: function (dados) {
                    $("#msg").html(dados);
                },
                success: function (dados) {
                    $("#msgSuccess").html(dados);
                    //$("#msgSuccess").html(dados).addClass("alert alert-success");
                    setTimeout(function () {
                        window.location = "/Perguntas/CriarPergunta";
                    }, 1100);

                }
            })
        })

    });
</script>

<h2>Perguntas</h2>

<div id="divCriar">

    <h4>Pergunta:</h4>
    <input type="text" id="pergunta" /><br />
    <h4>Resposta1:</h4>
    <input type="text" id="resposta1" /><br />
    <h4>Resposta2:</h4>
    <input type="text" id="resposta2" /><br />
    <h4>Resposta3:</h4>
    <input type="text" id="resposta3" /><br />
    <h4>Resposta4:</h4>
    <input type="text" id="resposta4" /><br />

    <br />
    <br />
    @*<input type="button" value="Voltar" class="btnsStyle" id="btnVoltar" onclick="window.location.href='/Produtos/Produtos'" />*@&nbsp;
    <input type="button" value="Criar" class="btnPrincipal" id="btnCriar" />&nbsp;&nbsp;

    <span style="color:red;font-weight:bold;font-size:19px" id="msg"></span>
    <span style="color:#008000;font-weight:bold;font-size:19px" id="msgSuccess"></span>

</div>